@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(143, 143, 143);
  --secondary-color: rgb(197, 117, 13);
}

h1 {
  color: var(--secondary-color);
}

body {
  background-color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  box-shadow: 3px 4px 5px rgba(15, 12, 12, 0.3);
  color: black;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  opacity: 0;
}

.panel a {
  background-color: var(--secondary-color);
  cursor: grab;
  position: absolute;
  bottom: 46px;
  left: 50px;
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: darkslateblue;
  opacity: 0;
  color: var(--primary-color);
}

.panel span {
  color: white;
  font-style: italic;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.panel.active a {
  opacity: 1;
  transition: opacity 0.5s ease-in 0.5s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
